# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
.env

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# Dataset (don't upload large datasets)
dataset/
train/
test/